[alias]
    co = commit
    ck = checkout
    st = status
    br = branch
    ff = merge --ff-only
	forget="! /usr/local/bin/git fetch -p && /usr/local/bin/git branch -vv | awk '/: gone]/{print $1}' | xargs /usr/local/bin/git branch -D"
    pr = merge --no-ff
    force-push = push --force-with-lease
    tree = log --oneline --graph --decorate
    tree-all = log --oneline --graph --decorate --all
    contains = branch -r --contains
[apply]
    whitespace = nowarn
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[commit]
    gpgsign = true
	template = ~/.stCommitMsg
[core]
	excludesfile = /Users/adeschambeault/.gitignore
    editor = vim
[difftool]
    prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[help]
    autocorrect = 1
[hub]
    protocol = https
[include]
    path = .gitconfig.local
[interactive]
    singleKey = yes
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
    rebase = true
[push]
    default = simple
[user]
	name = "Alexandre D'Eschambeault"
	email = adeschambeault@exolnet.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICMc/cVar4em66ZXNnE/AY0ZUCNmhsfL6dvQsqt2zMAW
