[push]
    default = simple
[pull]
    rebase = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[help]
    autocorrect = 1
[hub]
    protocol = https
[apply]
    whitespace = nowarn
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[commit]
	template = ~/.stCommitMsg
[interactive]
    singleKey = yes
[include]
    path = .gitconfig.local
[alias]
    co = commit
    ck = checkout
    st = status
    br = branch
    ff = merge --ff-only
	forget="! /usr/local/bin/git fetch -p && /usr/local/bin/git branch -vv | awk '/: gone]/{print $1}' | xargs /usr/local/bin/git branch -D"
    pr = merge --no-ff
    force-push = push --force-with-lease
    tree = log --oneline --graph --decorate
    tree-all = log --oneline --graph --decorate --all
    contains = branch -r --contains
[difftool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "araxis"]
    path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[mergetool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
