# Sample gitconfig
#

[hub]
    protocol = https
[user]
    name = Alexandre D'Eschambeault
    email = adeschambeault@exolnet.com
[credential]
    helper = osxkeychain
[alias]
    co = checkout
    promote = !$ZSH/bin/git-promote
    wtf     = !$ZSH/bin/git-wtf
    rank-contributers = !$ZSH/bin/git-rank-contributers
    count   = !git shortlog -sn
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
